
/*---------IndexStyles--------*/
.bold{
    font-weight: 700;
    letter-spacing: 0.070em;
}

h2 {
    font-size: 1.4rem;
    font-family: 'Arial', 'sans-serif';
}

h3 {
    font-size: 1rem;
    font-family: 'Arial', 'sans-serif';
    font-style: italic;
}

h4 {
    font-size: 1rem;
    opacity: 0.6;
}

.carousel,
.carousel-item,
.carousel-item.active {
  height: 360px;
}

.carousel-inner {
  height: 360px;
}

.img-fluid {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media all and (max-width: 900px) {
    .carousel,
.carousel-item,
.carousel-item.active {
  height: auto;
}

.carousel-inner {
  height: auto;
}

.img-fluid {
    object-fit: cover;
    height: auto;
    width: 100%;
}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.hover-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hover-shadow:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cover-height {
    object-fit: cover;
    height: 265px;
}

@media all and (min-width: 450px) {
    .cover-height {
        height: 260px;
    }
}

@media all and (min-width: 576px) {
    .cover-height {
        height: 222px;
    }
}

@media all and (min-width: 577px) and (max-width: 768px) {
    .cover-height {
        height: 339px;
    }
}

@media all and (min-width: 992px) {
    .cover-height {
        height: 195px;
    }
}

@media all and (min-width: 1200px) {
    .cover-height {
        height: 235px;
    }
}

@media all and (min-width: 1381px) {
    .cover-height {
        height: 275px;
    }
}

.padding-col-footer {
    padding-right: 0;
    width: 33%;
}

.footer-link {
    font-size: 0.8rem;
}

.footer-link:hover {
    text-decoration: underline !important;
    color: white !important;
    opacity: 0.5 !important;
}

.social-icon {
    width: 15px;
}

/*---------productStyles---------*/

.product-col {
    padding-left: 0;
    padding-right: 0;
}

.img-product {
    height: 400px;
}

.pb-hr {
    margin-top: 36px;
}