
/*--------------------------------generalStyles----------------------*/

body {
    font-family: 'Arial', 'sans-serif';
}

.bold{
    font-weight: 700;
    letter-spacing: 0.070em;
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 1.4rem;
    font-family: 'Arial', 'sans-serif';
}

h3 {
    font-size: 1rem;
    font-family: 'Arial', 'sans-serif';
    font-style: italic;
}

h4 {
    font-size: 1rem;
    opacity: 0.6;
}

/*--------------------------------IndexStyles----------------------*/

.carousel,
.carousel-item,
.carousel-item.active {
  height: 360px;
}

.carousel-inner {
  height: 360px;
}

.img-fluid {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media all and (max-width: 900px) {
    .carousel,
.carousel-item,
.carousel-item.active {
  height: auto;
}

.carousel-inner {
  height: auto;
}

.img-fluid {
    object-fit: cover;
    height: auto;
    width: 100%;
}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.hover-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.hover-shadow:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*-----------------------------------footer---------------------------*/
@media all and (max-width: 500px) {
    footer {
        position: relative !important;
    }
}

.padding-col-footer {
    padding-right: 0;
    width: 33%;
}

.footer-link {
    font-size: 0.8rem;
}

.footer-link:hover {
    text-decoration: underline !important;
    color: white !important;
    opacity: 0.5 !important;
}

.social-icon {
    width: 15px;
}

/*-----------------------------------productStyles----------------------*/

.product-col {
    padding-left: 0;
    padding-right: 0;
}

.img-product {
    height: 400px;
}

#lenseBox{
    margin-top: 8px;
    font-style: italic;
}

/*-----------------------------------shoppingCartStyles----------------------*/

#containerSwitchTitle{
    background-color: #f7f7f7;
}

.placeholder {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#switchTitle {
    font-size: 2rem;
}

.btn-outline-danger{
    margin-left: 50px;
    width: 25px;
    height: 25px;
}

svg.bi-trash{
    margin-bottom: 10px;
    margin-left: -8px;
    margin-top: -2px;
}

#totalPriceTitle{
    margin-bottom: 0 !important;
}

.sticky-top{
    order: 1000;
}

@media all and (max-width: 992px) {
    .sticky-top{
        order: 1;
    }
}

#containerQuantity{
    height: 100%;
    width: 15%;
}

.btn-template{
    position: absolute;
    top: 9%;
    left: 71%;
}

svg.bi-chevron-up {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 1rem;
}

svg.bi-chevron-up:hover {
    width: 35px;
    height: 35px;
}

@media all and (max-width: 500px) {
    svg.bi-chevron-up{
        margin-bottom: 0;
    }
}

svg.bi-chevron-down {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-top: 1rem;
}

svg.bi-chevron-down:hover {
    width: 35px;
    height: 35px;
}

@media all and (max-width: 500px) {
    svg.bi-chevron-down{
        margin-top: 0 !important;
    }
}


.quantityProduct{
    font-size: 1rem;
    font-weight: bold;
}

/*-----------------------------------overlayStyles----------------------*/

#overlay {
    position: fixed; 
    width: 0; 
    height: 100%; 
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9); 
    z-index: 1200; 
    overflow: hidden;
    transition: 0.7s;
    opacity: 0;
}

svg.bi-x{
      width: 50px;
      height: 50px;
      color: white;
      cursor: pointer;
}

.overlayExitSvg{
    position: absolute;
    top: 5%;
    left: 35%;
    margin-bottom: 20px;
}

@media all and (max-width: 1600px){
    .overlayExitSvg{
        left: 30%;
    }

}

@media all and (max-width: 1300px){
    .overlayExitSvg{
        left: 28%;
    }

}


@media all and (max-width: 445px){
    .overlayExitSvg{
        left: 12%;
    }

}

.overlayExitText{
    vertical-align: middle;
}


/*-----------------------------------formStyles----------------------*/


.form {
	padding: 0px 20px;	
}

.form-group {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-group label {
	display: inline-block;
    margin-bottom: 5px;
    width: 100%;
}

.form-group input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-group input:focus {
	outline: 0;
	border-color: #777;
}

.form-group.success input {
	border-color: #2ecc71;
}

.form-group.error input {
	border-color: #e74c3c;
}

.form-group svg {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-group.success svg.bi-check-circle-fill {
	color: #2ecc71;
	visibility: visible;
}

.form-group.error svg.bi-exclamation-circle-fill {
	color: #e74c3c;
	visibility: visible;
}

.form-group small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-group.error small {
	visibility: visible;
}

#confirm {
    margin-bottom: 0;
}

/*-----------------------------------confirmStyles----------------------*/

.title-confirm {
    background-color: #f7f7f7;
}

.title-confirm h1 {
    font-size: 2rem;
}

.thead-dark{
    background-color: #212529;
}

.thead-dark tr th {
    color: white !important;
    opacity: 0.5 !important;
}

.id-order {
    font-size: 1.3rem;
    color: #007BFF;
}

.id-order span {
    font-size: 1rem;
    color:  #777;
}

.contact-list li:first-of-type {
    background-color: #212529;
    color: rgba(255,255,255,0.5) !important;
}

.contact-list li {
    color: #007BFF;
}

.contact-list li span {
    color:  #777;
    font-style: italic;
}